<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ site.title }}
        {% if page.title %}
            &middot; {{ page.title }}
        {% endif %}
    </title>
    {% seo %}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="//super-dev.xyz/static/css/index.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/images/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c00">
    <meta name="theme-color" content="#FFFFFF">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
</head>
