<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="{{ site.custom-theme }} {{ page.layout }} container">
{% include navigation-bar.html %}

<div class="contents-wrapper">
    <section>
        <h2 class="section-title">
            Latest Posts
        </h2>
        <ul class="post-container thumbnail">
            {% for post in site.posts limit: 6 %}
            <li>
                <a href="{{ post.url }}" class="thumbnail-wrapper">
                    <img src="{{ post.thumbnail | relative_url }}" class="thumbnail" onerror="this.src='https://miro.medium.com/max/1400/1*KOAfAOQ9FwAp9i2muTkGWw.png';this.style='object-fit:cover'" />
                </a>
                <div class="additional-info-wrapper">
                    {% include category-link.html categories=post.categories class="category" %}

                    <i class="divider"></i>
                    <p class="date">{{ post.date | date: "%Y.%m.%d " }}</p>
                </div>
                <a href="{{ post.url }}" class="title">
                    {{ post.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="mt-3 tag-section">
        <h2 class="section-title">Tags</h2>

        <div class="tag-container">
            {%  for tag in site.tags %}
            {% capture tag_name %}{{ tag | first }}{% endcapture %}
            {% capture tag_size %}{{ tag | last | size }}{% endcapture %}
            {% capture font_size %}{{ tag_size | times: site.tags.size | divided_by : site.tags.size | plus: 14 }}{% endcapture %}

            <a href="/search?q={{ tag_name }}" class="tag" data-count="{{ tag_size }}">
                {{ tag_name }}
            </a>
            {% endfor %}
        </div>
    </section>
</div>
</body>
</html>
