<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body class="{{ site.custom-theme }} {{ page.layout }} container">
        {% include navigation-bar.html %}

        <div class="contents-wrapper">
            {% assign currentCategoryName = page.url | replace: '.html', '' | replace: '/', '' %}
            <section>
                <h2 class="section-title">
                    {{ currentCategoryName | upcase }}
                </h2>
                <ul class="post-container text">
                    {% for post in site.posts %}
                    <li>
                        <a href="{{ post.url }}" class="title">
                            <span class="category-badge">{{ post.categories | first | upcase }}</span>
                            {{ post.title }}
                        </a>
                        <div>
                            {% for tag in post.tags limit: 4 %}
                            <span class="tag"># {{ tag }} </span>
                            {% endfor %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </body>
</html>
